.logo img {
  width:100%
}

.logo {
  padding-top:30px;
}

.main img {
  width:100%;
}

.social {
  padding-top:65px
}

.social i {
  background-color:#0088c0;
  color:#fff;
  width:30px;
  height:30px;
  text-align:center;
  padding-top:8px;
  font-size:15px;
  border-radius:50%;
  margin:5px;
  float:right;
}

.featured-social {
  padding-top:35px;
}
.featured-social i {
  background-color:#0088c0;
  color:#fff;
  width:30px;
  height:30px;
  text-align:center;
  padding-top:8px;
  font-size:15px;
  border-radius:50%;
  margin:5px;
  float:right;
}

#featured-header {
  padding-bottom:25px;
  border-bottom:solid 1px #63cdf6;
}



.blue-bar {
  background-color:#63cdf6;
  padding-top:35px;
  padding-bottom:35px;
}


.blue-bar p {
  color:#fff;
  text-transform:uppercase;
  font-size:1.8rem;
  font-weight:200;
  letter-spacing: .6px;
  margin-bottom: 0px;

}

.blue-bar a {
  float:right;
  border:2px solid #fff;
  padding:12px 35px;
  color:#fff;
  border-radius:3px;
  font-weight:bold;
  letter-spacing:.5px;
}

.dark-blue-bar {
  background-color: #0088c0;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: url('http://borisandnicole.com/images/featured-products.png');
  background-repeat: no-repeat;
  background-position: 43% top;
  background-size: 184px;

  &.pets {
    background-image: none;
    margin-bottom: 60px;

  }

  p {
    color:#fff;
      text-transform:uppercase;
      font-size:1.8rem;
      font-weight:200;
      letter-spacing: .6px;
      margin-bottom: 0px;
      text-align:right;
    }
}


.dark-blue-bar .button a {
  float:left;
  border:2px solid #fff;
  padding:12px 35px;
  color:#fff;
  border-radius:3px;
  font-weight:bold;
  letter-spacing:.5px;
}

.boris {
  background-color:#f3f5f7;
  padding-top:20px;
}

.boris img {
  width:100%
}

.boris iframe {
  margin-top: 30px;
  margin-left: 50px;
  border: 1px solid #63cdf6;
}

.nicole {
  padding-top: 20px;
}

.nicole img {
  width:100%
}

.nicole h3 {
  color:#0088c0;
  font-weight:900;
  font-size:5rem;
}

#featured-products h3 {
  color:#0088c0;
  font-weight:900;
  font-size:5rem;
  padding-top:40px;
  padding-bottom:50px;
}

#featured-products img {
  width:100%
}

#featured-products .product {
  padding-bottom:50px;
}
#featured-products {
  padding-bottom:100px;
}

.nicole table {
  border:solid 1px #63cdf6;
  padding:14px 0px;
  display:block;
  max-width:560px;
  font-size:2rem;
  font-weight:200;
  color:#0088c0;

}



.nicole table td {
  padding:2px 25px;
}

.footer {
  background-color:#0089c2;
}

.footer {
  padding-top:15px;
  padding-bottom:15px;
}

.footer img {
  width:62px
}

.footer .copyright {
  padding-top:5px;
}

.footer p {
  text-align:right;
  color:#fff;
  font-weight:200;
  margin-bottom:5px;

}
body {
  -webkit-font-smoothing: antialiased;
}
.dark-blue-bar a {
  color:#fff;
}

.blue-bar a:hover {
  background-color:#fff;
  text-decoration:none;
  color:#63cdf6;
}
.dark-blue-bar .button a:hover {
  background-color:#fff;
  text-decoration:none;
  color:#0088c0;
}

.copyright a {
  color:#fff;
}
.nicole .col-md-4 img {
  padding-top:360px
}




/* Medium devices (desktops, 992px and down) */
@media (max-width: @screen-md-max) {
  .social {
    padding-top:15px;
    float:left;
  }
  .borris .col-md-9 {
    height:350px;
  }
  .blue-bar a {
    margin-top:20px;
    float:left;
  }
  .dark-blue-bar p {
    float:left;
    text-align:left;
  }
  .dark-blue-bar {
    background-image:none;
  }


}

@media only screen
and (max-width: 1200px) {
  iframe{
    height:300px;
  }
  .nicole table {

    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari */
    transform: scale(0.75,0.75);
    margin-left:-60px !important;
    margin-top:-40px !important;
  }
}

@media only screen
and (max-width: 768px)  {

  .nicole table{
    border:none;
    -ms-transform: scale(0.7,0.7); /* IE 9 */
    -webkit-transform: scale(0.7,0.7); /* Safari */
    transform: scale(0.7,0.7);

  }
  .nicole table tr {
    border-bottom: 1px solid #63cdf6;
  }
  iframe {
    height:185px;
    width:100%;
    margin-bottom:50px;
    margin-top:-20px !important;
    margin-left:0px !important;
  }
  .nicole .col-md-4 img {
    padding-top:40px !important;
  }
  .dark-blue-bar p {
    margin-top:20px;
  }

}